---
layout: default
---
<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

    {%- if site.posts.size > 0 -%}
        {% for category in site.categories reversed %}
            <h3><a href="/category/{{ category[0] }}">{{ category[0] }}</a></h3>
            <ul> 
            {% for post in category[1] %}
                <li>
                    {%- assign date_format = site.minima.date_format | default: "%d-%m-%Y" -%}
                    <span class="post-meta">{{ post.date | date: date_format }} - </span>    
                    <a class="post-link" href="{{ post.url }}">{{ post.title }}</a>
                </li>
                {% if category[1].posts.size > 5 %}
                    <a class="post-link" href="{{ post.url }}">TEST</a>
                {% endif %}     
            {% endfor %}
            </ul>
        {% endfor %}
    {%- endif -%}
</div>
