---
layout: default
---
<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

    {%- if site.posts.size > 0 -%}
        {% for category in site.categories reversed%}
        {%- if category.categories != 'tiffigra -%}
            <h3><a href="/category/{{ category[0] }}">{{ category[0] }}</a></h3>
            <ul> 
            {% assign counter = 0 %}
            {% for post in category[1] %}
                {% assign counter = counter | plus:1 %}
            {% endfor %}

            {% if counter > 3 %}
                {% for post in category[1] limit:3 %}
                    <li>
                        {%- assign date_format = site.minima.date_format | default: "%Y-%m-%d" -%}
                        <span class="post-meta">{{ post.date | date: date_format }} - </span>    
                        <a class="post-link" href="{{ post.url }}">{{ post.title }}</a>
                    </li>
                {% endfor %}
                        <a class="post-meta" href="/category/{{ category[0] }}">[→ archives]</a>
            {% else %} 
                {% for post in category[1] %}
                    <li>
                        {%- assign date_format = site.minima.date_format | default: "%Y-%m-%d" -%}
                        <span class="post-meta">{{ post.date | date: date_format }} - </span>    
                        <a class="post-link" href="{{ post.url }}">{{ post.title }}</a>
                    </li>
                {% endfor %}       
            {% endif %}
            </ul>
        {% endif %}    
        {% endfor %}
    {%- endif -%}
    <h3><a href="/category/book/read">reading</a></h3>
    <ul>
        {% for book in site.data.books limit:3 %}
            {% assign status = book.exclusive_shelf %}    
            {%- if status == 'read' -%}
                <li>
                    {%- assign date_format = site.minima.date_format | default: "%Y-%m-%d" -%}
                    <span class="post-meta">{{ book.date_read | date: date_format }} - </span>    
                    <a href="{{book.open_library_url_info_ISBN13}}">{{ book.title | where_exp: "book",  "book.exclusive_shelf == 'read'" }}</a> - <a style='font-style: italic; font-weight: 200; font-size: 12px;' href="{{book.open_library_url_info_ISBN13}}">{{ book.author }}</a>
                    {% assign rating = book.rating %} {% case rating %} {% when '1' %} 
                <picture>
                    <source style='height: 3%; width: 3%; object-fit: contain' srcset="/assets/swallow.png" media="(max-width: 20px)">
                    <img style='height: 3%; width: 3%; object-fit: contain' src="/assets/swallow.png" />
                </picture> 
                {% when '2' %} 
                <picture>
                    <source style='height: 3%; width: 3%; object-fit: contain' srcset="/assets/swallow.png" media="(max-width: 20px)">
                    <source style='height: 3%; width: 3%; object-fit: contain' srcset="/assets/swallow.png" media="(max-width: 20px)">
                    <img style='height: 3%; width: 3%; object-fit: contain' src="/assets/swallow.png" />
                    <img style='height: 3%; width: 3%; object-fit: contain' src="/assets/swallow.png" />
                </picture>
                {% when '3' %}
                <picture>
                    <source style='height: 3%; width: 3%; object-fit: contain' srcset="/assets/swallow.png" media="(max-width: 20px)">
                    <source style='height: 3%; width: 3%; object-fit: contain' srcset="/assets/swallow.png" media="(max-width: 20px)">
                    <source style='height: 3%; width: 3%; object-fit: contain' srcset="/assets/swallow.png" media="(max-width: 20px)">
                    <img style='height: 3%; width: 3%; object-fit: contain' src="/assets/swallow.png" />
                    <img style='height: 3%; width: 3%; object-fit: contain' src="/assets/swallow.png" />
                    <img style='height: 3%; width: 3%; object-fit: contain' src="/assets/swallow.png" />
                </picture>
                {% when '4' %}
                <picture>
                    <source style='height: 3%; width: 3%; object-fit: contain' srcset="/assets/swallow.png" media="(max-width: 20px)">
                    <img style='height: 3%; width: 3%; object-fit: contain' src="/assets/swallow.png" />
                </picture>
                <picture>
                    <source style='height: 3%; width: 3%; object-fit: contain' srcset="/assets/swallow.png" media="(max-width: 20px)">
                    <img style='height: 3%; width: 3%; object-fit: contain' src="/assets/swallow.png" />
                </picture>
                <picture>
                    <source style='height: 3%; width: 3%; object-fit: contain' srcset="/assets/swallow.png" media="(max-width: 20px)">
                    <img style='height: 3%; width: 3%; object-fit: contain' src="/assets/swallow.png" />
                </picture>
                <picture>
                    <source style='height: 3%; width: 3%; object-fit: contain' srcset="/assets/swallow.png" media="(max-width: 20px)">
                    <img style='height: 3%; width: 3%; object-fit: contain' src="/assets/swallow.png" />
                </picture>
                {% when '5' %}
                <picture>
                    <source style='height: 3%; width: 3%; object-fit: contain' srcset="/assets/swallow.png" media="(max-width: 20px)">
                    <img style='height: 3%; width: 3%; object-fit: contain' src="/assets/swallow.png" />
                </picture>
                <picture>
                    <source style='height: 3%; width: 3%; object-fit: contain' srcset="/assets/swallow.png" media="(max-width: 20px)">
                    <img style='height: 3%; width: 3%; object-fit: contain' src="/assets/swallow.png" />
                </picture>
                <picture>
                    <source style='height: 3%; width: 3%; object-fit: contain' srcset="/assets/swallow.png" media="(max-width: 20px)">
                    <img style='height: 3%; width: 3%; object-fit: contain' src="/assets/swallow.png" />
                </picture>
                <picture>
                    <source style='height: 3%; width: 3%; object-fit: contain' srcset="/assets/swallow.png" media="(max-width: 20px)">
                    <img style='height: 3%; width: 3%; object-fit: contain' src="/assets/swallow.png" />
                </picture>
                <picture>
                    <source style='height: 3%; width: 3%; object-fit: contain' srcset="/assets/swallow.png" media="(max-width: 20px)">
                    <img style='height: 3%; width: 3%; object-fit: contain' src="/assets/swallow.png" />
                </picture>
                {% endcase %} 
                    </li>
                    {% endif %}
            {% endfor %}
        <a class="post-meta" href="/category/book/read">[→ archives]</a>
    </ul>
</div>
